*{
    padding:0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    font-family: 'Quicksand', sans-serif;
    max-width: 1280px;
    background-color: white;
    margin: 0 auto;
}
body{
    margin: 0 !important;
    background-color: white;
    border: 1px solid #ddd;

}

/* nav html element*/
nav{
    background-color:#222222;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
nav .logo{
    display: flex;
    align-items: center;
}

nav .logo img{
    height:56px;
    width: 56px;
    padding: 8px;
    border-radius: 50%;
}

nav .logo .title{
    color:white;
    font-size: 24px;
    padding-left: 20px;
    font-weight: bold;
}
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    
}

nav ul li{
    color:white;
    padding: 22px 40px;
    background-color: #333333;
}
nav ul li.active{
    background-color: #222222;
}
nav ul li a{
    color: white;
    text-decoration: none   ;
}
 nav ul li:hover{
    background-color: #222222;

 }
 
 .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    background-image: url(//unsplash.it/900/450/?blur);
    background-size: cover;
    background-color: #333333;
    text-align: center;
}


@keyframes appear {
    from{
        opacity:0.0;
        top:-100px;
    }
    top{
        opacity:1.0;
        top:0.0;
    }
}

.banner .heading{
    flex: 1;
    justify-content: center;
    color:white;
    font-size: 3em;
    font-weight: bold;
    animation: appear 1s ease-in-out 0s forwards;
}
.banner .heading small{
    font-size: 24px;
}

.maintext{
    font-size: 18px;
    padding:12px;
}

.subtext{
    display: flex;
}

.subtext div{
    padding:20px;
    margin:10px;
    border-radius: 10px;
    color: white;
}

.subtext .red{
    background-color: #ff6363;
}


.subtext .yellow{
    background-color: #f0a500;
}

.subtext .green{
    background-color: #1eb2a6;
}

/*About page*/
.gallery{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 8px;
    padding: 10px;

}
.gallery-items{
    width: 100%;
    height: 100%;
    transition: all 0.25s ease-in;
}

.gallery-items:hover{
    transform: scale(0.95);
}
.gallery-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*.gallery-item-1{
    grid-column: 1/2;
    grid-row: 1/2;
}

/*.gallery-item-2{
    grid-column: 2/3;
    grid-row: 1/2;
}*/
.gallery-item-3{
    grid-column: 3/5;
    grid-row: 1/3;
}
/*
.gallery-item-4{
    grid-column: 1/3;
    grid-row: 2/4;
}
.gallery-item-5{
    grid-column: 3/4;
    grid-row: 3/4;
}
.gallery-item-6{
    grid-column: 4/5;
    grid-row: 3/4;
}   */
.quote{
    display: block;
    background-color: #eeeeee;
    padding: 50px;
    text-align: center;
    font-style: italic;
}

.quote::before{
    display: inline-block;
    content: open-quote;
    color:#d3d3d3;
    font-size: 32px;
}

.quote::after{
    display: inline-block;
    content: close-quote;
    color:#d3d3d3;
    font-size: 32px;
}

h3.title{
    font-size:24px;
    padding: 12px;
    margin:6px;
    border-top: 5px solid #ddd;
    border-bottom:5px solid #ddd;
}

.projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
}

.project{
    width: 325px;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
}

.project h4{
    font-size: 20px;
    padding:12px;
    margin: 6px;
    border-top: 5px solid #ddd;
    border-bottom: 5px solid #ddd;
}

.project p{
    padding: 0px 12px;
}

.projects img{
    width:100%;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;

}

.projects img:hover{
    transform: scale(0.95);
    opacity: 0.5;
}

.projects button{
    background-color: #4caf50;
    color:white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    width: 100%;
    font-size: 12px;
}

.project button:hover{
    background-color: #4caf50;
    opacity: 0.7;
    
}

/*Contact*/
.container{
    display: flex;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding:20px;
    margin:10px 0px;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    height: 50px;
}

input[type=submit]{
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}

input[type=submit]{
    background-color: #45a049;
}

.container .map{
    padding: 12px;
    margin-left: 20px;
    flex:1;
}
 .footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333333;
    color:white;
    text-align: center;
    padding: 24px;
 }


 /*tablets*/
 @media all and (max-width:800px){
    nav{
        justify-content: flex-start;
    }
    nav ul{
        justify-content: space-between;
    }
 }
 /*mobiles*/
 @media all and (max-width:600px){
    nav{
           flex-direction: column;
           align-items: center; 

    }
    nav ul{
        width:100%;
        flex-direction: column;/*In mobile case to display menu vertically and stretch to the screen*/
        align-items: stretch;
    }
    nav ul li{
        text-align: center;
    }

    .container{
        flex-direction: column;
    }
    .container .map{
        margin-left: 0px;
    }
 }